<!-- profile section start -->
<section class="ag-section mt-4 ">
    <div class="container">
        <div class="middle-card profile--card">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="profile-header-container">
                        <div class="profile-header-img">
                            <img class="img-circle" src="~/Content/images/profile-pic.png" />
                            <!-- badge -->
                        </div>
                    </div>
                    <h5> Kristi Russel </h5>
                    <p>
                        ONLINE MASTERCLASS
                        <br />
                        <strong> MAR 24 2020 </strong>
                    </p>
                </div>
                <div class="col-md-8">
                    <h4> MINTSET AND ATTUTUDE ARE EVERYTHING</h4>
                    <span> With Kristi Russell </span>
                    <p class="mt-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi
                        <br /> dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer
                        <br />citation ullamco laboris nisi u
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <br />
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        <br />cupidatat non proident,
                    </p>
                    <ul class="pointers">
                        <li>Lorem ipsum dolor sit amet, </li>
                        <li> Consectetur adipiscing elit, sed do eiusmod </li>
                        <li> Tempor incididunt ut labore et dolore </li>
                        <li> Magna aliqua. Ut enim ad minim veniam, </li>
                        <li> Quis nostrud exercitation ullamco </li>
                        <li> Laboris nisi ut aliquip ex ea commodo consequat. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- profile section end -->
