<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/swiper.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title> Consultant</title>
</head>
<body class="ag-body-bg">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-light headroom customer-menu bg-color">
        <div class="container">
            <a class=" navbar-brand" href="index.html">
                <span class="logo"><img src="images/logo.png"></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar_global">
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto ">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link active" role="button">
                            <span class="nav-link-inner--text"> Home </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="about-us.html" class="nav-link" role="button">
                            <span class="nav-link-inner--text"> About</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="work.html" class="nav-link" role="button">
                            <span class="nav-link-inner--text">Session </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="contact-us.html" class="nav-link" role="button">
                            <span class="nav-link-inner--text">Contact Us</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="login.html" class="nav-link" role="button">
                            <button type="button" class="btn btn-dark login-btn text-center mx-2 btn-lg"> Login </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="ag-section mt-4 ">
        <div class="container">
            <div class="middle-card">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <span class="image"> <img src="~/Content/images/profile-pic.png"> </span>
                        <h5> Kristi Russel </h5>
                        <p>
                            ONLINE MASTERCLASS <br />
                            <strong> MAR 24 2020 </strong>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <h4> MINTSET AND ATTUTUDE ARE EVERYTHING</h4>
                        <span> With Kristi Russell </span>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi<br /> dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer <br />citation ullamco laboris nisi u
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /> </p>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla <br />cupidatat non proident,
                            <ul>
                                <li>Lorem ipsum dolor sit amet, </li>
                                <li> Consectetur adipiscing elit, sed do eiusmod </li>
                                <li> Tempor incididunt ut labore et dolore </li>
                                <li> Magna aliqua. Ut enim ad minim veniam, </li>
                                <li> Quis nostrud exercitation ullamco </li>
                                <li> Laboris nisi ut aliquip ex ea commodo consequat. </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ag-section mt-4 ">
        <div class="container">
            <div class="middle-card calander ">
                <div class="row">
                    <div class="col-md-4">
                        <span class="image"> <img src="images/arrow.png"></span>
                        <h3> Sessions Available </h3>
                    </div>
                    <div class="col-md-8 text-right pt-3">
                        <strong> Share Now </strong>
                        <div class="social-icons">
                            <img src="images/p.png">
                            <img src="images/s.jpg">
                            <img src="images/linked.jpg">
                            <img src="images/L00013.jpg">
                            <img src="images/gmail.jpg">
                        </div>
                    </div>
                </div>
                <div class="calnder-part">
                    <div class="row">
                        <div class="col-md-6 d-flex">
                            <h1> 3 Hour Webinar </h1>
                            <div class="custom-btn"> $25</div>
                            <span> <i class="fa fa-pencil-square-o"> EDIT</i></span>
                        </div>
                        <div class="col-md-6 d-flex">
                            <h1 style="color: #a8a8a8">1 Hour One-on-One </h1>
                            <div class="custom-btn"> $10</div>
                            <span> <i class="fa fa-pencil-square-o"> EDIT</i></span>
                        </div>
                        <span style="margin-top: 0;"><img src="images/line.png"> </span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="eventsTable table-responsive">
                                <table class="table" id="customers">
                                    <thead>
                                        <tr>
                                            <th>
                                                <b class="day">Mon</b>
                                                <span class="date">01/04/20</span>
                                            </th>
                                            <th>
                                                <b class="day">Tue</b>
                                                <span class="date">01/04/20</span>
                                            </th>
                                            <th>
                                                <b class="day">Wed</b>
                                                <span class="date">01/04/20</span>
                                            </th>
                                            <th>
                                                <b class="day">Wed</b>
                                                <span class="date">01/04/20</span>
                                            </th>
                                            <th>
                                                <b class="day">Wed</b>
                                                <span class="date">01/04/20</span>
                                            </th>
                                            <th>
                                                <b class="day">Sat</b>
                                                <span class="date">01/04/20</span>
                                            </th>
                                            <th>
                                                <b class="day bd">Sun</b>
                                                <span class="date">01/04/20</span>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tboday>
                                        <tr>
                                            <td>
                                                <div class="badge orangeBg">9:00 AM</div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="badge orangeBg">11:00 AM</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="badge orangeBg">11:00 AM</div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="badge orangeBg">10:00 AM</div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="badge orangeBg">9:00 AM</div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="badge orangeBg">9:00 AM</div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="badge orangeBg">9:00 AM</div>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="badge orangeBg">9:00 AM</div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="no-right-border">
                                            <td>
                                                <div class="badge orangeBg">9:00 AM</div>
                                            </td>
                                            <td></td>
                                            <td><div class="badge orangeBg">9:00 AM</div></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="badge orangeBg">9:00 AM</div>
                                            </td>
                                        </tr>
                                    </tboday>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>